.addButton {
  font-size: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  outline: 0.5px solid rgb(104, 104, 104);
  width: 100%;
  cursor: pointer;
}
.addButton:hover {
  background-color: rgb(131, 131, 131);
}

.formInput {
  font-size: inherit;
  display: block;
  width: 95%;
  border-radius: 25px;
  border: none;
  padding: 10px;
  outline: 0.5px solid rgb(105, 105, 105);
  margin-top: 10px;
}

.label {
  display: block;
  margin-top: 20px;
}
.form {
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgb(104, 104, 104);
}
